.taskcontainer {    
    position:absolute;
    top:0;
    left:0;
    right:0;    
    /* height: 500px; */
    transition: all 0.3s ease-in-out;
    /* max-width: var(--idealdimension); */
    z-index: 1;
    
}
.taskcontainerhidden {
    /* display:none; */
    transform: scale(0) translateY(-100%);
}
.taskcontainervisible {
    /* display:flex; */
}
.taskcontainerinner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--modalbg); */
    /* background-color: var(--titlebg); */
    text-align: center;
    color:var(--light);
    height:fit-content;
    padding-bottom: 1rem;
    height:100vh;
    position:relative;    
    /* padding: 0 1.5rem; */
}
.addoptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    width:100%;
    cursor: pointer;
    background-color: var(--light);
    color:black;
}
.newitem {
    /* outline: 2px solid var(--titlebg); */
    width:100%;
    padding:0.5rem;
}
.newitem:hover {
    background-color: rgb(36, 194, 206);
    /* border:2px solid rgb(36, 194, 206); */
    /* border-radius: 10px; */
    
}
.modalbody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    border: 2px solid var(--light);
    border-radius: 10px;
    position:relative;
    box-shadow: 0 5px 16px 4px rgb(78, 1, 1);
    max-width: 700px;
    width:90%;
    /* min-width: var(--modalbody); */
    background-color: var(--modalbg);
    min-height: 70%;
    margin: 1.5rem;
}
.cancel {
    position:absolute;
    top:0;
    right:0;
    stroke:rgb(168, 124, 124);
    fill:rgb(168, 124, 124);
    margin:5px;
    cursor: pointer;
}
.cancel:hover {
    stroke:red;
    fill:red;
}


/* -------- form elements -------- */
input, textarea {
    text-align: center;
    width:100%;
    border-radius: 10px;
    resize: none;
    border:none;
    background-color: transparent;
    cursor: pointer;
    color:var(--light);
}
input {
    font-size: 1.5em;
}
textarea {
    font-size: 1em;
}
input:focus, textarea:focus {
    outline:none;
    border:none;
}
label, input, textarea, .formouter {
    /* width: 50ch; */
    /* width:90%; */
}
.formouter {    
    display: inherit;
    background-color: var(--modalbg);    
    padding:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.priorityinput {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    gap:15px;
    cursor: pointer;
}
.prioOuter {
    position:relative;
}
.prioLabelOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.priohint {
    height:1em;
    /* position:absolute; */
    /* right:-50%; */
    font-size: 1rem;
}
.prioitem {
    border-radius: 50%;
    width:2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}
.prioitem:hover {
    /* border:2px solid cyan; */
    transform: scale(1.5);
}
.modalbody .prio1 {
    background-color: rgb(72, 75, 252);
    transition: all 0.2s ease-in;
}
.modalbody .prio2 {
    background-color: rgb(243, 109, 46);
    transition: all 0.2s ease-in;
}
.modalbody .prio3 {
    background-color: red;
    transition: all 0.2s ease-in;
}
.prioselect {
    transform: scale(1.2);
    border:3px solid cyan;
}
.joinproject {
    position: relative;
}
.joinproject .projectDiv {
    position: absolute;
    top:0;
    /* left:0; */
    /* right: 0; */
    z-index: 2;
    /* width:100%; */
    height: 100%;
    background-color: var(--light);
    /* border:2px solid black; */
    /* transform: scale(0); */
    border-radius: 10px;
    color:black;
}
.projectDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projectDiv input {
    outline:2px solid var(--modalbg);
    margin:5px;
    padding:5px;
    max-width: 90%;
    background-color: white;
    font-size: var(--fontsmall);
    color:black;
}
.projectddl {
    min-width: 60px;
}
.projectDiv svg {
    transform: scale(0.7);
    cursor: pointer;
}
.projectDiv svg:hover {
    stroke:green;
    fill:green;
}
.submit {
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:80px; */
    cursor: pointer;
}

.submit svg{
    stroke:var(--light);
    fill:var(--light);    
    /* transform: scale(1.5); */
}
.submit:hover path{
    fill: green;
    stroke: green;
}
input[type='date'] {
    width:auto;
    border: 2px solid var(--light);
    font-size: 1em;
}
.joinproject {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:2px solid var(--light);
    border-radius:10px;
    padding:5px;
}
.projectddl {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fontsmall);
    padding: 5px;
    margin:5px;
    border-radius: 5px;
}
.createProject {
    fill:var(--light);
    stroke:var(--light);
    transform: scale(0.5);
    cursor: pointer;
}
.createProject:hover {
    fill:green;
    stroke:green;
}
/* -------- Add project -------- */
.menuSelected {
    background-color: var(--modalbg);
    color:var(--light);
}
.menuSelected:hover {
    background-color: var(--modalbg);
    color:var(--light);
} 
.projectlabel, .listlabel {
    margin: 20px;
}
.projectinput, .listinput {
    flex:0.5;
}
.projecthint, .listhint {
    margin: 20px;
}

/* -------- Edit task -------- */
.modalouter {
    position:absolute;
    top: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.existingProjects {
    color:black;
}
.existingProjects div {
    color:var(--light);
}
.projectAddOuter .projectTitle:focus {
    outline: 3px solid cyan;
}